<p>Bonjour <%= @user.username %>,</p>
<p>Votre compte a été supprimé de l'application et du site web Kuisine le <%= @deleted_at.strftime("%d/%m/%Y") %> à <%= @deleted_at.strftime("%H:%M") %>.</p>
<p>Si cette action n'a pas été initiée par vous, contactez-nous immédiatement.</p>
<br/>
<p>Nous vous remercions d'avoir utilisé Kuisine. Nous espérons que vous avez apprécié notre service.</p>

