<p>Bonjour <%= @user.username %> </p>
<br/>
<p>Un nouveau article vient d'être publié sur notre newsletter</p>
<p>Pour le lire, cliquez sur le lien suivant :</p>
<%= news_link(@news) %>
<br/>
<p>Si vous ne souhaitez plus recevoir notre news letter vous pouvez vous desinscrire dans les paramettres de votre compte</p>
<br/>
<p>Merci de votre confiance et à bientôt sur Kuisine !</p>