<%= turbo_frame_tag dom_id(comment) do %>
  <div class="comment">
    <div class="content">
      <p class="user"><%= comment.user.username %> :</p>
        <p class="text"><%= comment.content %></p>
    </div>
    <div class="actions-buttons">
      <% if can? :destroy, comment %>
        <%= button_to "Supprimer", recipe_comment_path(comment.recipe, comment),
                      method: :delete, data: { turbo_confirm: "Supprimer ce commentaire ?" }, class: "btn btn-light",
                      form: { data: { turbo_stream: true } } %>
      <% end %>
    </div>
  </div>
<% end %>
