<div class="recipe-card">
  <h3><%= link_to recipe.title, recipe_path(recipe) %></h3>
  <span class="number-of-views">
    <%= pluralize(recipe.total_views, "vue") %>
  </span>
  <ul class="ingredients">
    <% recipe.ingredients.each do |ingredient| %>
      <li><%= ingredient.name %></li>
    <% end %>
  </ul>
  <p class="instructions"><%= truncate(recipe.instructions, length: 100) %></p>
</div>