<%= turbo_stream.replace "h1" do %>
  <h1>Modifier la recette</h1>
<% end %>

<%= turbo_stream.replace @recipe do %>
  <%= render "form", locals: { recipe: @recipe} %>
  <%= link_to "Retour", recipe_path(@recipe) %>
<% end %>


