<h2>Mon profil</h2>
<p>Email : <%= @user.email %></p>
<p>Nom d'utilisateur : <%= @user.username %></p>
<%= link_to 'Modifier', edit_user_path(@user), data: { turbo_frame: '_top' } %>
<%= button_to 'Supprimer mon compte', user_path(@user), method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %>
