<% body_class "index" %>

<%# render the trending recipes (3 most viewed of the week %>
<%= render partial: 'trending_recipes', locals: { trending_recipes: @trending_recipes } %>

<%# loggin and register button %>
<nav>
    <%= login_button %>
    <%= register_button %>
</nav>