<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>

    <%# The email footer %>
    <br>
    <p>Cordialement,</p>
    <p>L'équipe de Kuisine</p>
  </body>
</html>
